ion-title {
    color: #850303;
}

.titulo-bienvenida {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.titulo-info {
  text-align: center;
  font-size: 20px;
  color: #850303;
  margin-bottom: 15px;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


// Usuario // 
ion-content {
  text-align: left;
}

ion-card {
  background: white;  
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);;     
}

// nombre y apellido //
ion-item {
  --color: black;
  --background: white;
  border-radius: 5px;
  margin-top: 5px;    
}

ion-list {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

ion-input {
    --padding-start: 10px;
    --color: #000;
    
}

ion-label {
  color: #000;
  font-weight: 500;
}

ion-icon {
  font-size: 22px;
  color: #000;
  cursor: pointer;
}